## Data Science Academy

## Projeto de Análise de Dados com Linguagem Python

## Projeto 7 - Técninca de Engenharia de Atributos

### Pacotes Python Usados no Projeto

In [4]:
# Imports
import re
import numpy as np
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [5]:
%reload_ext watermark
%watermark -a "Leonardo da Silva Neves"

Author: Leonardo da Silva Neves

### Carregando os dados e compreendendo as variáveis

In [6]:
# Carga dos dados
df = pd.read_csv('Cap12/dataset.csv')

In [7]:
# Shape
df.shape

(101766, 50)

In [10]:
# Configurando a visualização de colunas do Pandas
pd.set_option('display.max_columns', 50)

In [11]:
# Visualização de dados
df.head()

,encounter_id,patient_nbr,race,gender,age,weight,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,payer_code,medical_specialty,num_lab_procedures,num_procedures,num_medications,number_outpatient,number_emergency,number_inpatient,diag_1,diag_2,diag_3,number_diagnoses,max_glu_serum,A1Cresult,metformin,repaglinide,nateglinide,chlorpropamide,glimepiride,acetohexamide,glipizide,glyburide,tolbutamide,pioglitazone,rosiglitazone,acarbose,miglitol,troglitazone,tolazamide,examide,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
0,2278392,8222167,Caucasian,Female,[0-10),?,6,25,1,1,?,Pediatrics-Endocrinology,41,0,1,0,0,0,250.83,?,?,1,NaN,NaN,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,NO
1,149190,55629189,Caucasian,Female,[10-20),?,1,1,7,3,?,?,59,0,18,0,0,0,276,250.01,255,9,NaN,NaN,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,Up,No,No,No,No,No,Ch,Yes,>30
2,64410,86047875,AfricanAmerican,Female,[20-30),?,1,1,7,2,?,?,11,5,13,2,0,1,648,250,V27,6,NaN,NaN,No,No,No,No,No,No,Steady,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,Yes,NO
3,500364,82442376,Caucasian,Male,[30-40),?,1,1,7,2,?,?,44,1,16,0,0,0,8,250.43,403,7,NaN,NaN,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,Up,No,No,No,No,No,Ch,Yes,NO
4,16680,42519267,Caucasian,Male,[40-50),?,1,1,7,1,?,?,51,0,8,0,0,0,197,157,250,5,NaN,NaN,No,No,No,No,No,No,Steady,No,No,No,No,No,No,No,No,No,No,Steady,No,No,No,No,No,Ch,Yes,NO

In [9]:
# Info
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101766 entries, 0 to 101765
Data columns (total 50 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   encounter_id              101766 non-null  int64
 1   patient_nbr               101766 non-null  int64
 2   race                      101766 non-null  object
 3   gender                    101766 non-null  object
 4   age                       101766 non-null  object
 5   weight                    101766 non-null  object
 6   admission_type_id         101766 non-null  int64
 7   discharge_disposition_id  101766 non-null  int64
 8   admission_source_id       101766 non-null  int64
 9   time_in_hospital          101766 non-null  int64
 10  payer_code                101766 non-null  object
 11  medical_specialty         101766 non-null  object
 12  num_lab_procedures        101766 non-null  int64
 13  num_procedures            101766 non-null  int64
 14  num_medications           101766 non-null  int64
 15  number_outpatient         101766 non-null  int64
 16  number_emergency          101766 non-null  int64
 17  number_inpatient          101766 non-null  int64
 18  diag_1                    101766 non-null  object
 19  diag_2                    101766 non-null  object
 20  diag_3                    101766 non-null  object
 21  number_diagnoses          101766 non-null  int64
 22  max_glu_serum             5346 non-null    object
 23  A1Cresult                 17018 non-null   object
 24  metformin                 101766 non-null  object
 25  repaglinide               101766 non-null  object
 26  nateglinide               101766 non-null  object
 27  chlorpropamide            101766 non-null  object
 28  glimepiride               101766 non-null  object
 29  acetohexamide             101766 non-null  object
 30  glipizide                 101766 non-null  object
 31  glyburide                 101766 non-null  object
 32  tolbutamide               101766 non-null  object
 33  pioglitazone              101766 non-null  object
 34  rosiglitazone             101766 non-null  object
 35  acarbose                  101766 non-null  object
 36  miglitol                  101766 non-null  object
 37  troglitazone              101766 non-null  object
 38  tolazamide                101766 non-null  object
 39  examide                   101766 non-null  object
 40  citoglipton               101766 non-null  object
 41  insulin                   101766 non-null  object
 42  glyburide-metformin       101766 non-null  object
 43  glipizide-metformin       101766 non-null  object
 44  glimepiride-pioglitazone  101766 non-null  object
 45  metformin-rosiglitazone   101766 non-null  object
 46  metformin-pioglitazone    101766 non-null  object
 47  change                    101766 non-null  object
 48  diabetesMed               101766 non-null  object
 49  readmitted                101766 non-null  object
dtypes: int64(13), object(37)
memory usage: 38.8+ MB

### Limpeza e transformação dos dados

In [14]:
# Verificando valores nulos (Ausentes) no DataFrame
df.isnull().sum()

encounter_id                    0
patient_nbr                     0
race                            0
gender                          0
age                             0
weight                          0
admission_type_id               0
discharge_disposition_id        0
admission_source_id             0
time_in_hospital                0
payer_code                      0
medical_specialty               0
num_lab_procedures              0
num_procedures                  0
num_medications                 0
number_outpatient               0
number_emergency                0
number_inpatient                0
diag_1                          0
diag_2                          0
diag_3                          0
number_diagnoses                0
max_glu_serum               96420
A1Cresult                   84748
metformin                       0
repaglinide                     0
nateglinide                     0
chlorpropamide                  0
glimepiride                     0
acetohexamide                   0
glipizide                       0
glyburide                       0
tolbutamide                     0
pioglitazone                    0
rosiglitazone                   0
acarbose                        0
miglitol                        0
troglitazone                    0
tolazamide                      0
examide                         0
citoglipton                     0
insulin                         0
glyburide-metformin             0
glipizide-metformin             0
glimepiride-pioglitazone        0
metformin-rosiglitazone         0
metformin-pioglitazone          0
change                          0
diabetesMed                     0
readmitted                      0
dtype: int64

In [15]:
# Checando as colunas que tem valor = '?'
df.isin(['?']).any()

encounter_id                False
patient_nbr                 False
race                         True
gender                      False
age                         False
weight                       True
admission_type_id           False
discharge_disposition_id    False
admission_source_id         False
time_in_hospital            False
payer_code                   True
medical_specialty            True
num_lab_procedures          False
num_procedures              False
num_medications             False
number_outpatient           False
number_emergency            False
number_inpatient            False
diag_1                       True
diag_2                       True
diag_3                       True
number_diagnoses            False
max_glu_serum               False
A1Cresult                   False
metformin                   False
repaglinide                 False
nateglinide                 False
chlorpropamide              False
glimepiride                 False
acetohexamide               False
glipizide                   False
glyburide                   False
tolbutamide                 False
pioglitazone                False
rosiglitazone               False
acarbose                    False
miglitol                    False
troglitazone                False
tolazamide                  False
examide                     False
citoglipton                 False
insulin                     False
glyburide-metformin         False
glipizide-metformin         False
glimepiride-pioglitazone    False
metformin-rosiglitazone     False
metformin-pioglitazone      False
change                      False
diabetesMed                 False
readmitted                  False
dtype: bool

In [19]:
# Verificando valores únicos por coluna
for col in list(df.columns):
    # Obter uma lista de valores únicos
    list_unique_values = df[col].unique()
    # Se o número de valores exclusivos for menor que 15, imprima os valores.
    # Caso contrário, imprima o número de valores exclusivos
    if len(list_unique_values) < 15:
        print("\n")
        print(col + ': ' + str(len(list_unique_values)) + ' valores únicos')
        print(list_unique_values)
    else:
        print("\n")
        print(col + ': ' + str(len(list_unique_values)) + ' valores únicos')

encounter_id: 101766 valores únicos


patient_nbr: 71518 valores únicos


race: 6 valores únicos
['Caucasian' 'AfricanAmerican' '?' 'Other' 'Asian' 'Hispanic']


gender: 3 valores únicos
['Female' 'Male' 'Unknown/Invalid']


age: 10 valores únicos
['[0-10)' '[10-20)' '[20-30)' '[30-40)' '[40-50)' '[50-60)' '[60-70)'
 '[70-80)' '[80-90)' '[90-100)']


weight: 10 valores únicos
['?' '[75-100)' '[50-75)' '[0-25)' '[100-125)' '[25-50)' '[125-150)'
 '[175-200)' '[150-175)' '>200']


admission_type_id: 8 valores únicos
[6 1 2 3 4 5 8 7]


discharge_disposition_id: 26 valores únicos


admission_source_id: 17 valores únicos


time_in_hospital: 14 valores únicos
[ 1  3  2  4  5 13 12  9  7 10  6 11  8 14]


payer_code: 18 valores únicos


medical_specialty: 73 valores únicos


num_lab_procedures: 118 valores únicos


num_procedures: 7 valores únicos
[0 5 1 6 2 3 4]


num_medications: 75 valores únicos


number_outpatient: 39 valores únicos


number_emergency: 33 valores únicos


number_inpatient: 21 valores únicos


diag_1: 717 valores únicos


diag_2: 749 valores únicos


diag_3: 790 valores únicos


number_diagnoses: 16 valores únicos


max_glu_serum: 4 valores únicos
[nan '>300' 'Norm' '>200']


A1Cresult: 4 valores únicos
[nan '>7' '>8' 'Norm']


metformin: 4 valores únicos
['No' 'Steady' 'Up' 'Down']


repaglinide: 4 valores únicos
['No' 'Up' 'Steady' 'Down']


nateglinide: 4 valores únicos
['No' 'Steady' 'Down' 'Up']


chlorpropamide: 4 valores únicos
['No' 'Steady' 'Down' 'Up']


glimepiride: 4 valores únicos
['No' 'Steady' 'Down' 'Up']


acetohexamide: 2 valores únicos
['No' 'Steady']


glipizide: 4 valores únicos
['No' 'Steady' 'Up' 'Down']


glyburide: 4 valores únicos
['No' 'Steady' 'Up' 'Down']


tolbutamide: 2 valores únicos
['No' 'Steady']


pioglitazone: 4 valores únicos
['No' 'Steady' 'Up' 'Down']


rosiglitazone: 4 valores únicos
['No' 'Steady' 'Up' 'Down']


acarbose: 4 valores únicos
['No' 'Steady' 'Up' 'Down']


miglitol: 4 valores únicos
['No' 'Steady' 'Down' 'Up']


troglitazone: 2 valores únicos
['No' 'Steady']


tolazamide: 3 valores únicos
['No' 'Steady' 'Up']


examide: 1 valores únicos
['No']


citoglipton: 1 valores únicos
['No']


insulin: 4 valores únicos
['No' 'Up' 'Steady' 'Down']


glyburide-metformin: 4 valores únicos
['No' 'Steady' 'Down' 'Up']


glipizide-metformin: 2 valores únicos
['No' 'Steady']


glimepiride-pioglitazone: 2 valores únicos
['No' 'Steady']


metformin-rosiglitazone: 2 valores únicos
['No' 'Steady']


metformin-pioglitazone: 2 valores únicos
['No' 'Steady']


change: 2 valores únicos
['No' 'Ch']


diabetesMed: 2 valores únicos
['No' 'Yes']


readmitted: 3 valores únicos
['NO' '>30' '<30']

Importante perceber que o valor ausente pode aparecer como "?".

In [23]:
# Verificando a quantidade e percentual de registros onde o valor é igual a '?'
for col in df.columns:
    if df[col].dtype == object:
        if df[col][df[col] == '?'].count() > 0:
            print('\nColuna', col, 'tem', df[col][df[col] == '?'].count(), 'valores com o caracter "?"')
            print('Isso representa', round(df[col][df[col] == '?'].count() / len(df.index) * 100, 2), '% do total')

Coluna race tem 2273 valores com o caracter "?"
Isso representa 2.23 % do total

Coluna weight tem 98569 valores com o caracter "?"
Isso representa 96.86 % do total

Coluna payer_code tem 40256 valores com o caracter "?"
Isso representa 39.56 % do total

Coluna medical_specialty tem 49949 valores com o caracter "?"
Isso representa 49.08 % do total

Coluna diag_1 tem 21 valores com o caracter "?"
Isso representa 0.02 % do total

Coluna diag_2 tem 358 valores com o caracter "?"
Isso representa 0.35 % do total

Coluna diag_3 tem 1423 valores com o caracter "?"
Isso representa 1.4 % do total

In [21]:
# A coluna gender também apresenta um valor que precisa ser tratado
print('\nColuna gender tem', df['gender'][df['gender'] == 'Unknown/Invalid'].count(), 'valores com "Unknown/Invalid"')
print('Isso representa', round(df['gender'][df['gender'] == 'Unknown/Invalid'].count() / len(df.index) * 100, ))

Coluna gender tem 3 valores com "Unknown/Invalid"
Isso representa 0.0

**Agora a parte mais importante - decidir o que fazer!**

- Há valores ausentes sobre o peso do paciente em mais de 96% dos registro na variável 'weight'.
- O código do pagador e especificidade médica também apresentam valores ausentes de 40 a 50%.
- As demais variáveis apresentam um baixo percentual de valores ausentes.

  O que fazer?

**Alternativas:**

- Colocar a variável peso como categórica com dois labels: disponível/não disponível (1 e 0).
- Criar um código genérico para a variável payer_code como 99 e preencher os  valores ausentes.
- Criar um tipo genérico para a variável medical_specialty como 'Sem Especialidade Definida' e preencher os valores ausentes.
- Para a variável gender são apenas 3 registros e o ideal é removê-los.

**Decisões:**

- Devida a fraca interpretabilidade da variável peso, o melhor é simplesmente  ignorar a variável e removÊ-la.
- Descartar as variávis payer_code e medical_specialty, pois seria difícil tratar quantidade muito grande de valores ausentes.
- Remoção dos registro com '?' das demais variáveis.
- Para a variável gender vamos remover os 3 registros com categoria "Unknown/Invalid".

In [27]:
# Removendo as 3 colunas com alto percentual de valores ausentes
df = df.drop(['weight', 'payer_code', 'medical_specialty'], axis=1)

**Para as demais variáveis com baixo percentual de valores ausentes, removeremos os registros**

In [29]:
# Remoção dos registros com baixo percentual de valores ausentes
df = df[df['race'] != '?']
df = df[df['diag_1'] != '?']
df = df[df['diag_2'] != '?']
df = df[df['diag_3'] != '?']
df = df[df['gender'] != 'Unknown/Invalid']

In [31]:
# Checando as colunas para verificar se há algum valor igual a '?'
df.isin(['?']).any()

encounter_id                False
patient_nbr                 False
race                        False
gender                      False
age                         False
admission_type_id           False
discharge_disposition_id    False
admission_source_id         False
time_in_hospital            False
num_lab_procedures          False
num_procedures              False
num_medications             False
number_outpatient           False
number_emergency            False
number_inpatient            False
diag_1                      False
diag_2                      False
diag_3                      False
number_diagnoses            False
max_glu_serum               False
A1Cresult                   False
metformin                   False
repaglinide                 False
nateglinide                 False
chlorpropamide              False
glimepiride                 False
acetohexamide               False
glipizide                   False
glyburide                   False
tolbutamide                 False
pioglitazone                False
rosiglitazone               False
acarbose                    False
miglitol                    False
troglitazone                False
tolazamide                  False
examide                     False
citoglipton                 False
insulin                     False
glyburide-metformin         False
glipizide-metformin         False
glimepiride-pioglitazone    False
metformin-rosiglitazone     False
metformin-pioglitazone      False
change                      False
diabetesMed                 False
readmitted                  False
dtype: bool

In [32]:
df.shape

(98052, 47)

#### Constantes.
**Será que existe variáveis com um único valor no DataFrame?**

In [33]:
# Visualização de uma amostra dos dados
df.head()

,encounter_id,patient_nbr,race,gender,age,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,num_lab_procedures,num_procedures,num_medications,number_outpatient,number_emergency,number_inpatient,diag_1,diag_2,diag_3,number_diagnoses,max_glu_serum,A1Cresult,metformin,repaglinide,nateglinide,chlorpropamide,glimepiride,acetohexamide,glipizide,glyburide,tolbutamide,pioglitazone,rosiglitazone,acarbose,miglitol,troglitazone,tolazamide,examide,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
1,149190,55629189,Caucasian,Female,[10-20),1,1,7,3,59,0,18,0,0,0,276,250.01,255,9,NaN,NaN,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,Up,No,No,No,No,No,Ch,Yes,>30
2,64410,86047875,AfricanAmerican,Female,[20-30),1,1,7,2,11,5,13,2,0,1,648,250,V27,6,NaN,NaN,No,No,No,No,No,No,Steady,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,Yes,NO
3,500364,82442376,Caucasian,Male,[30-40),1,1,7,2,44,1,16,0,0,0,8,250.43,403,7,NaN,NaN,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,Up,No,No,No,No,No,Ch,Yes,NO
4,16680,42519267,Caucasian,Male,[40-50),1,1,7,1,51,0,8,0,0,0,197,157,250,5,NaN,NaN,No,No,No,No,No,No,Steady,No,No,No,No,No,No,No,No,No,No,Steady,No,No,No,No,No,Ch,Yes,NO
5,35754,82637451,Caucasian,Male,[50-60),2,1,2,3,31,6,16,0,0,0,414,411,250,9,NaN,NaN,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,Steady,No,No,No,No,No,No,Yes,>30

In [34]:
# Checando por variáveis com um único valor (ou seja, constante)
df.loc[:, df.nunique() == 1].head()

  examide citoglipton metformin-rosiglitazone
1      No          No                      No
2      No          No                      No
3      No          No                      No
4      No          No                      No
5      No          No                      No

**Vamos eliminar as colunas que têm apenas um único valor, pois elas não adicionam nada à análise. Queremos analisar variáveis e não constantes.**

In [35]:
# Removendo variáveis com valores únicos
df = df.loc[:, df.nunique() != 1]

In [36]:
# Shape
df.shape

(98052, 44)

In [39]:
# Calculando o número total de valores em cada coluna
total_valores = df.shape[0]

# Calculando o número de valores ausentes em cada  coluna
valores_ausentes = df.isnull().sum()

# Calculando o percentual de valores ausentes em cada coluna
percentual_ausentes = (valores_ausentes / total_valores) * 100

# Exibe somente colunas com percentual maior do que zero
percentual_ausentes[percentual_ausentes > 0]

max_glu_serum    94.688533
A1Cresult        83.485294
dtype: float64

In [41]:
# Removendo as 2 colunas com alto percentual de valores ausentes
df = df.drop(['max_glu_serum', 'A1Cresult'], axis = 1)

In [42]:
# Shape
df.shape

(98052, 42)